@import "tailwindcss";

@theme {
  --color-*: initial;

  --text-*: initial;
  --text-sm: 0.82rem;
  --text-base: 1rem;
  --text-xl: 1.333rem;
  --text-2xl: 1.777rem;
  --text-3xl: 2.369rem;
  --text-4xl: 3.158rem;
  --text-5xl: 4.21rem;

  --color-text: #dcdbe1;
  --color-background: #131313;
  --color-primary: #56a7dc;
  --color-accent: #646cff;
  --color-accent-hover: #535bf2;
}

:root {
  font-family: "Fira Code";
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Fira Code";
  font-weight: 400;
}

.font-cascadia {
  font-family: "Cascadia Code";
  font-weight: 700;
}

.font-fira {
  font-family: "Fira Code";
  font-weight: 400;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}
a:hover {
  transition: color 0.2s;
  color: var(--color-accent-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Cascadia Code";
  font-weight: 700;

  @apply text-xl sm:text-3xl;
}

h2 {
  @apply text-xl md:text-2xl;
}

p {
  @apply text-base;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
